    <div class="text-right" style="margin-bottom: 1em;">
    {{^user}}
        <a id="login" href="/login" class="btn btn-secondary">Login</a>
        <a id="register" href="/register" class="btn btn-primary">Register</a> 
    {{/user}}

    {{#user}}        
        <a href="/new" class="btn btn-success">Schedule new workout</a>
        <a id="logout" href="/logout" class="btn btn-danger">Sign out</a> 
    {{/user}}
    </div>