<!DOCTYPE html>
<html lang="en">

<head>
    {{> partials/header}}
</head>

<body class="container">
    <h1>{{title}}</h1>
    {{> partials/buttons}}
           {{^user}}
           📅 Create an accout in just a few seconds to keep track of your personal training routines. Already have an account? 
                  </br>
       Log in instead.
                    {{/user}}
    {{#user}}  
    <i>Remember <b>{{user}}</b>, you have to push harder today if you want a different tomorrow </i>🔥
    {{#entries}}
    <div class="card" data-id="{{id}}">
        <div class="card-header">
            {{workout_title}}
        </div>
        <div class="card-body">
            <div class="card-text">
                {{contents}}
            </div>
                <div class="date">
                Scheduled for: {{date}}
            </div>
            <div class="card-text">
                Written by <a href="/posts/{{user}}">{{user}} </a>, on {{published}}
            </div>
                <a href='/delete/{{_id}}'  alt='Delete this workout' style="color:#dc3545"><i class="fas fa-trash"></i> Delete</a> 
        </div>
    </div>
    {{/entries}} {{^entries}} No scheduled workouts yet. Why don't you add some? {{/entries}}
    {{/user}}
</body>

</html>