<!DOCTYPE html>
<html lang="en">

<head>
    {{> partials/header}}
</head>

<body class="container">
    <h1>{{title}}</h1>
    {{> partials/buttons}}
           {{^user}}
           📅 Create an accout in just a few seconds to keep track of your personal training routines. Already have an account? 
                  </br>
       Log in instead.
                    {{/user}}
    {{#user}}  
    <i>Remember <b>{{user}}</b>, you have to push harder today if you want a different tomorrow </i>🔥
    {{#entries}}
    <div class="card" data-id="{{id}}">
        <div class="card-header">
            <p style="font-size:24px;"> {{workout_title}} </p>
        </div>
        <div class="card-body">
            <div class="card-text">
                <i class="fas fa-bullseye"></i> Goals: {{goals}}
                </br>
               <i class="fas fa-trophy"></i> Achievements: {{achievements}}
            </div>
                <div class="date">
                <i class="fas fa-calendar-week"></i> Scheduled for: {{date}}
            </div>
            <div class="card-text">
                <i class="fas fa-user"></i> Scheduled by <a href="/posts/{{user}}">{{user}} </a>, on {{published}}
            </div>
            <hr>
                <a href='/edit/{{_id}}'  alt='Edit this workout' style="color:#007bff"><i class="fas fa-edit"></i> Edit</a>‎‎‎‏‏‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎
                <a href='/share/{{_id}}'  alt='Edit this workout' style="color:#28a745"><i class="fas fa-share"></i></i> Share</a>‎‎‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎
                <a href='/delete/{{_id}}'  alt='Delete this workout' style="color:#dc3545"><i class="fas fa-trash"></i> Delete</a>‎‎‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎
        </div>
    </div>
        </br>
        </br>
        {{/entries}}
        {{^entries}} No scheduled workouts yet. Why don't you add some? {{/entries}}
    {{/user}}
</body>

</html>